{% extends "dashboard/layout.html" %}
{% load mathfilters %}

{% block dashboard_title %}View Students{% endblock dashboard_title %}

{% block dashboard_head %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
  function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("students_table");
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  
  document.getElementById("searchInput").addEventListener("input", searchTable);
});
</script>

{% endblock dashboard_head %}

{% block dashboard_body %}

<div class="container" style="margin-top: 20px;">

  <form class="d-flex" role="search">
    <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

</div>



<div class="container" style="margin-top: 20px;">

<table id="students_table" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th> 
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">DOB</th>
        <th scope="col">Contact</th>
        <th scope="col">Email</th>
        <th scope="col">Academic Class</th>
        <th scope="col">Average Mark</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

    {% if students %}
        {% for student in students %}
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.full_name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.date_of_birth}}</td>
        <td>{{student.phone_number}}</td>
        <td>{{student.email}}</td>
        <td>{{student.class_academic}}</td>
        <td>{{student.average}}</td>
        <td>
          <a href="/dashboard/student/edit/{{student.id}}" class="btn btn-primary">Edit</a>
          <a href="/dashboard/student/delete/{{student.id}}" class="btn btn-danger">Delete</a> 
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <td>No students Added Yet</td>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock dashboard_body %}