{% extends "dashboard/layout.html" %}
{% load mathfilters %}

{% block dashboard_title %}View Teachers{% endblock dashboard_title %}

{% block dashboard_head %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
  function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("teachers_table");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  
  document.getElementById("searchInput").addEventListener("input", searchTable);
});
</script>

{% endblock dashboard_head %}

{% block dashboard_body %}

<div class="container" style="margin-top: 20px;">

  <form class="d-flex" role="search">
    <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

</div>

<div class="container" style="margin-top: 20px; outline: 3px solid black; width:30%;">

 <strong> Average number of classes the teachers take:</strong><strong style="color: red;"> {{average_no_of_classes}}</strong>

</div>


<div class="container" style="margin-top: 20px;">

<table id="teachers_table" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th> 
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">DOB</th>
        <th scope="col">Contact</th>
        <th scope="col">Email</th>
        <th scope="col">No. of Classes</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

    {% if teachers %}
        {% for teacher in teachers %}
      <tr>
        <td>{{teacher.id}}</td>
        <td>{{teacher.full_name}}</td>
        <td>{{teacher.age}}</td>
        <td>{{teacher.date_of_birth}}</td>
        <td>{{teacher.phone_number}}</td>
        <td>{{teacher.email}}</td>
        <td>{{teacher.classes}}</td>
        <td>
          <a href="/dashboard/teacher/edit/{{teacher.id}}" class="btn btn-primary">Edit</a>
          <a href="/dashboard/teacher/delete/{{teacher.id}}" class="btn btn-danger">Delete</a> 
      </tr>
      {% endfor %}
      {% else %}
      <td>No Teachers Added Yet</td>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock dashboard_body %}