{% extends "dashboard/layout.html" %}

{% block dashboard_title %}Add Teacher{% endblock dashboard_title %}

{% block dashboard_body %}


<div class="container" style="width:30%; margin-top:40px;">
    <h2>Add Teacher</h2>
    <br>
    <form method="POST" action="{% url "teacher_add" %}">
        <div class="form-floating mb-3">
            <input required type="email" name="email" class="form-control" id="floatingInput" placeholder="name@domain.tld">
            <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating mb-3">
            <input required type="text" name="full_name" class="form-control" id="floatingInput" placeholder="Sample Name">
            <label for="floatingInput">Full Name</label>
          </div>

          <div class="form-floating mb-3">
            <input required type="number" name="age" class="form-control" id="floatingInput" placeholder="20">
            <label for="floatingInput">Age</label>
          </div>

          <div class="form-floating mb-3">
            <input required type="date" name="date_of_birth" class="form-control" id="floatingInput" placeholder="2002-08-2002">
            <label for="floatingInput">Date of Birth</label>
          </div>

          <div class="form-floating mb-3">
            <input required type="number" name="classes" class="form-control" id="floatingInput" placeholder="10">
            <label for="floatingInput">Number of Classes</label>
          </div>

          <div class="form-floating mb-3">
            <input required type="tel" name="phone_number" pattern="[0-9]{10}" autofocus oninvalid="setCustomValidity('Please Enter a Valid Mobile Number!')" class="form-control" id="floatingInput" placeholder="9876543211">
            <label for="floatingInput">Phone Number</label>
          </div>
        <button type="submit" class="btn btn-primary">Create Teacher</button>
      </form>

</div>

{% endblock dashboard_body %}