{% extends "layout.html" %}

{% block title %}{% block dashboard_title %}{% endblock dashboard_title %}{% endblock title %}

{% block head %}{% block dashboard_head %}{% endblock dashboard_head %}{% endblock head %}

{% block body %}

<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "dashboard" %}">Management Portal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Teacher
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "teacher_add" %}">Add Teacher</a></li>
              <li><a class="dropdown-item" href="{% url "teacher_view" %}">View Teacher</a></li>
              <li><a class="dropdown-item" href="{% url "teacher_view" %}">Update Teacher</a></li>
              <li><a class="dropdown-item" href="{% url "teacher_view" %}">Delete Teacher</a></li>
              <li><a class="dropdown-item" href="{% url "teacher_view" %}">Search Teacher</a></li>
              <li><a class="dropdown-item" href="{% url "teacher_filterview" %}">Filter Teacher</a></li>
            </ul>
          </li>
        </ul>
          <a href="{% url "logout" %}" style="text-decoration:none; color:white;"><button class="btn btn-outline-danger" type="submit">Logout</button></a>
      </div>
    </div>
  </nav>

  {% block dashboard_body %}
  
  {% endblock dashboard_body %}

{% endblock body %}